<div id="footer">
	<!-- Copyright -->
	<div class="copyright">
		<p>&copy; 2013 Jane Doe. All rights reserved.</p>
		<ul class="menu">
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Images: <a href="http://ineedchemicalx.deviantart.com">Felicia Simion</a></li>
			<li>Modified to work with the <a href="https://www.harp.io">Harp Platform</a></li>
		</ul>
	</div>
</div>